{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "add-module-exports",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@component": "./src/components/",
          "@pages": "./src/pages/",
          "@placeholders": "./src/placeholders/",
          "@modules": "./src/store/modules/",
          "@utils": "./src/utils/",
          "@material": "./node_modules/@material"
        }
      }
    ]
  ]
}
