.logo-component {
  .logo {
    height: rem(70px);
    margin: rem(71px) auto auto rem(252px);

    img {
      height: 100%;
    }
  }

  @media all and (max-width: 900px) {
    .logo {
      margin: rem(30px) auto;
      text-align: center;
    }
  }

  @media all and (max-width: 768px) {
    .logo {
      margin: rem(30px) auto;
      text-align: center;
    }
  }

  @media all and (max-width: 500px) {
    padding: rem(20px) 0;

    .logo {
      height: rem(40px);
      margin: 0 auto rem(20px) auto;

      img {
        height: rem(55px);
      }
    }
  }

  @media all and (max-width: 340px) {
    padding: rem(16px) 0;

    .logo {
      height: rem(40px);
      margin: rem(10px) auto rem(20px) auto;
    }
  }
}
