.logo-component {
  .logo {
    height: 70px;
    margin: 71px auto auto 252px;

    img {
      height: 100%;
    }
  }

  @media all and (max-width: 900px) {
    .logo {
      margin: 30px auto;
      text-align: center;
    }
  }

  @media all and (max-width: 768px) {
    .logo {
      margin: 30px auto;
      text-align: center;
    }
  }

  @media all and (max-width: 500px) {
    padding: 20px 0;
    .logo {
      margin: 0 auto 20px auto;
      height: 40px;

      img {
        height: 55px;
      }
    }
  }

  @media all and (max-width: 340px) {
    padding: 16px 0;
    .logo {
      margin: 10px auto 20px auto;
      height: 40px;
    }
  }
}
